@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;

    font-size: 18px;
    font-weight: 400;
  }

  .fonfB {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 246, 246);
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-align: center;
    line-height: 35px;
  }

  /* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 5% 15px 5%;
    align-items: center;
  }

  .logoHaut {
    padding: 5px 0px;
    height: 15px;
    width: auto;
  }

  /* boutton theme */

  .changeTheme {
    font-size: 10px;
    padding: 7px 3vw;
    width: fit-content;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px lightgrey;
    border-radius: 25px;
    margin-inline-end: 1vw;
  }

  .changeTheme:hover {
    cursor: pointer;
  }

  .bouttonHeader {
    display: flex;
    flex-direction: row;
  }

  /*bouton */

  .aBlack {
    text-decoration: none;
  }

  .buttonTry {
    font-size: 10px;
    padding: 7px 3vw;
    width: fit-content;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px lightgrey;
    border-radius: 25px;
    color: black;
  }

  .textBoutonHaut {
    margin: 0;
  }

  /*HOME PAGE*/
  .container {
    background-image: url(../media/bg_hero_mobile.svg);
    background-size: cover;
    margin: -130px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 5px 10%;
    background-color: hsl(193, 100%, 96%);
    height: 800px;
  }

  .presentation {
    margin-top: 180px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
  }

  .pres {
    margin: 16px 0 8px 0;
    font-size: 16px;
    line-height: 25px;
  }

  /*boutton*/
  .get {
    padding: 8px 0px;
    width: 80%;
    font-size: 12px;
    font-weight: 600;
    background-color: RGB(254, 82, 192);
    border-radius: 25px;
    color: white;
    margin: 0px 10%;
  }

  .get:hover {
    background-color: RGB(255, 155, 219);
  }

  .aWhite {
    margin: 20px 40%;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .imgGH {
    margin: 0 10%;
    height: auto;
    width: 80%;
    margin-top: 17px;
  }

  /* CONTAINER x3 */

  .blocks {
    padding: 0px 5% 100px 5%;
  }

  .rectangle {
    text-align: center;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 30px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0%;
    padding: 0 5%;
    box-shadow: 0px 10px 15px rgba(0, 37, 46, 0.15);
  }

  .rectangleReverse {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px 5%;
    padding: 20px 0% 20px 0%;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 30px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0%;
    padding: 0 5%;
    box-shadow: 0px 10px 15px rgba(0, 37, 46, 0.15);
  }

  .imgRect {
    padding: 20px 5%;
    height: auto;
    width: 80vw;
  }

  .text {
    color: gray;
    font-size: 15px;
  }

  .cadreBas {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    height: 150px;
    align-items: center;
    text-align: center;
    margin: 0px 5%;
    padding: 30px 5% 0px 5%;
    box-shadow: 0px 10px 15px rgb(0, 37, 46, 0.25);
  }

  .bouttonBas {
    padding: 8px 55px;
    width: fit-content;
    font-weight: 400;
    background-color: RGB(254, 82, 192);
    border-radius: 45px;
    color: white;
    margin: 10px;
  }

  .bouttonBas:hover {
    background-color: RGB(255, 155, 219);
  }

  /* FOOTER */

  .footer {
    background-color: RGB(0, 37, 46);
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffff;
    margin: -80px 0px;
  }

  .logoFooter {
    margin: 150px 5% 20px 5%;
  }

  .informations {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px 5%;
    padding: 20px 0% 20px 0%;
  }

  .contactBlock {
    display: flex;
    align-items: start;
  }

  .icone {
    width: auto;
    height: 12px;
    padding-right: 3%;
    padding-top: 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .liens {
    display: flex;
  }

  li {
    margin: 0;
    padding: 25px 0 0 0;
  }

  .styleLinkFooter {
    text-decoration: none;
    color: white;
  }

  .styleLinkFooter:hover {
    text-decoration: underline;
  }

  .socialMedias {
    text-align: center;
  }

  .socialMediasIcons {
    border: 1px solid white;
    border-radius: 100%;
    width: fit-content;
    padding: 8px;
    margin: 5px;
  }

  .socialMediasIcons:hover {
    border-color: RGB(254, 82, 192);
  }

  .copyright {
    font-size: 10px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 12px;
    /* width: 100%; */
  }

  /* Classes changement de theme */

  .lightMode {
    background-color: white;
    color: black;
  }

  .darkMode {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    box-shadow: none;
  }

  .lightModeBody {
    background-color: white;
    color: black;
  }

  .darkModeBody {
    background-color: rgb(22, 22, 22);
  }

  .lightModeContainer {
    background-color: hsl(193, 100%, 96%);
  }

  .darkModeContainer {
    background-color: hsl(192, 80%, 16%);
  }

  .lightModeH2 {
    color: black;
  }

  .darkModeH2 {
    color: rgb(255, 255, 255);
  }

  .lightHomePage {
    color: black;
  }

  .darkHomePage {
    color: white;
  }

  /*fenetre popup*/
  #popupOverlay {
    position: fixed;
    padding: 16%;
    z-index: 80;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupcontent {
    background-image: url(../media/bg_hero_desktop.svg);
    background-color: white;
    background-size: cover;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    padding: 10%;
    border: 8px solid RGB(254, 82, 192);
    border-radius: 5px;
    box-sizing: border-box;
    transform: translate(0%, 70%);
    display: flex;
    flex-direction: column;
  }

  .darkPopupcontent {
    background-image: url(../media/bg_hero_desktop.svg);
    background-color: hsl(192, 80%, 16%);
    background-size: cover;
    color: white;
  }

  .ppop {
    margin: 0;
  }

  .h2pop {
    font-size: 20px;
    margin-top: 0;
  }

  .popupExit {
    position: absolute;
    top: -10%;
    right: 0;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border: 5px;
  }

  #popupOverlay.open {
    display: none !important;
  }
}