body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10% 15px 10%;
  align-items: center;
  flex-wrap: wrap;
}

.logoHaut {
  padding: 5px 25px;
  height: 30px;
  width: auto;
}

/*bouton*/

.aBlack {
  text-decoration: none;
}

.buttonTry {
  padding: 15px 50px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px lightgrey;
  border-radius: 25px;
  color: black;
}

.textBoutonHaut {
  margin: 0;
}

/*Style home-page*/
.container {
  background-image: url(../media/bg_hero_desktop.svg);
  margin: -130px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 10%;
  background-color: hsl(193, 100%, 96%);
  height: 80vh;
}

.presentation {
  margin: 200px 0 0px;
  width: 550px;

  font-size: 18px;
}

/*boutton*/
.get {
  padding: 15px 55px;
  width: fit-content;
  font-size: 13px;
  font-weight: 600;
  background-color: RGB(254, 82, 192);
  border-radius: 25px;
  color: white;
}

.get:hover {
  background-color: RGB(255, 155, 219);
}

.aWhite {
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.imgGH {
  margin: 200px 0 0px;
  height: 400px;
  width: auto;
}
@media only screen and (max-width: 1440px) {
  body {
    margin: 0 0;
    font-size: 18px;
  }

  .footer {
    background-color: RGB(0, 37, 46);
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffff;
  }

  .logoFooter {
    margin: 150px 5% 20px 5%;
  }

  .informations {
    display: flex;
    width: 80%;
    padding: 20px 5% 20px 5%;
    justify-content: space-between;
  }

  .contact {
  }

  .contactBlock {
    display: flex;
    align-items: start;
  }

  .icone {
    width: auto;
    height: 12px;
    padding-right: 3%;
    padding-top: 16px;
  }

  ul {
    list-style: none;
  }

  .liens {
    display: flex;
  }

  li {
    padding-bottom: 25px;
  }

  .styleLinkFooter {
    text-decoration: none;
    color: white;
  }

  .styleLinkFooter:hover {
    text-decoration: underline;
  }

  .socialMediasIcons {
    border: 1px solid white;
    border-radius: 100%;
    width: fit-content;
    padding: 8px;
    margin: 5px;
  }

  .socialMediasIcons:hover {
    border-color: RGB(254, 82, 192);
  }

  .copyright {
    font-size: 10px;
    text-align: end;
    padding-bottom: 50px;
    padding-right: 5%;
  }
}
