@media only screen and (min-width: 1440px) {
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;


  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  /* HEADER */
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 5% 15px 5%;
    align-items: center;
    flex-wrap: wrap;
  }

  .logoHaut {
    padding: 5px 0px;
    height: 30px;
    width: auto;
  }

  /*bouton*/

  .aBlack {
    text-decoration: none;
  }

  .buttonTry {
    padding: 15px 50px;
    width: fit-content;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px lightgrey;
    border-radius: 25px;
    color: black;
  }

  .textBoutonHaut {
    margin: 0;
  }

  /*HOME PAGE*/
  .container {
    background-image: url(../media/bg_hero_desktop.svg);
    margin: -130px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 5%;
    background-color: hsl(193, 100%, 96%);
    height: 80vh;
  }

  .presentation {
    margin: 200px 0 0px;
    width: 550px;
  }

  /*boutton*/
  .get {
    padding: 15px 55px;
    width: fit-content;
    font-size: 13px;
    font-weight: 600;
    background-color: RGB(254, 82, 192);
    border-radius: 25px;
    color: white;
  }

  .get:hover {
    background-color: RGB(255, 155, 219);
  }

  .aWhite {
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .imgGH {
    margin: 200px 0px;
    height: 400px;
    width: auto;
  }

  /* CONTAINER x3 */

  .blocks {
    padding: 200px 5%;

  }

  .rectangle {
    background-color: white;
    display: flex;
    border-radius: 30px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0%;
    padding: 0 8%;
    box-shadow: 0px 10px 15px rgba(0, 37, 46, 0.5);
  }

  .rectangleReverse {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 30px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0%;
    padding: 0 8%;
    box-shadow: 0px 10px 15px rgba(0, 37, 46, 0.5);
  }

  .imgRect {
    height: 350px;
    width: auto;
  }

  .text {
    width: 35%;
  }

  .cadreBas {
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 25%;
    padding: 20px 5%;
    box-shadow: 0px 10px 15px rgb(0, 37, 46);
  }

  .bouttonBas {

    padding: 15px 55px;
    width: fit-content;
    font-weight: 600;
    background-color: RGB(254, 82, 192);
    border-radius: 45px;
    color: white;
  }

  .bouttonBas:hover {
    background-color: RGB(255, 155, 219);
  }







  /* FOOTER */

  .footer {
    background-color: RGB(0, 37, 46);
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #ffff;
    margin: -150px 0px;
  }

  .logoFooter {
    margin: 150px 5% 20px 5%;
  }

  .informations {
    display: flex;
    width: 80%;
    padding: 20px 5% 20px 5%;
    justify-content: space-between;
  }

  .contactBlock {
    display: flex;
    align-items: start;
  }

  .icone {
    width: auto;
    height: 12px;
    padding-right: 3%;
    padding-top: 16px;
  }

  ul {
    list-style: none;
  }

  .liens {
    display: flex;
  }

  li {
    padding-bottom: 25px;
  }

  .styleLinkFooter {
    text-decoration: none;
    color: white;
  }

  .styleLinkFooter:hover {
    text-decoration: underline;
  }

  .socialMediasIcons {
    border: 1px solid white;
    border-radius: 100%;
    width: fit-content;
    padding: 8px;
    margin: 5px;
  }

  .socialMediasIcons:hover {
    border-color: RGB(254, 82, 192);
  }

  .copyright {
    font-size: 10px;
    text-align: end;
    padding-bottom: 50px;
    padding-right: 5%;
  }
}